.div-all-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


#login{
    width: 500px;
}

#register{
    width: 600px;
}

.errors{
    background-color: black;
    color: red;
    padding: 14px 35px;
    margin-top: 50px;
}

.welcome{
    display: flex;
    justify-content: center;
    width: 100vW;
    background-color: #6b6666e0;
    color: black;
}

